@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TPRM</h1>
    <p class="lead">Realize aqui o seu controle de Transações e Serviços realizados.</p>
    <p><a href="https://www.bernhoeft.com.br/" class="btn btn-primary btn-lg">Mais detalhes aqui. &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Sobre a Bernhoeft</h2>
        <p>
            A Bernhoeft está presente em 5 estados, com unidades próprias em São Paulo, São José dos Campos, Belo Horizonte, Rio de Janeiro, Recife e Natal e contamos com um time de mais de 300 profissionais atualizados e com expertise na gestão dos processos de nossos clientes.

            Atuamos com empresas nacionais e multinacionais de diferentes portes e segmentos como: comércio, indústria, entidades governamentais, instituições financeiras, petróleo, energia, telecomunicações, serviços médicos, portuários, engenharia, e outros.
        </p>
        <p><a class="btn btn-default" href="https://www.bernhoeft.com.br/">Bernhoeft &raquo;</a></p>
    </div>    
</div>